body {
color: white;
background: black;
}

header {
    border: solid 2px rgb(190, 92, 92);
    padding: 20px;
    font-size: 32px;
    color: rgb(190, 92, 92)
}

section {
    background:rgb(58, 5, 5) ;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: centin
} 

 div {
    margin-right: 20px

    ;
